body{
    direction: rtl;
    background: black;
}

#clock{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #17D4FE;
    font-size: 60px;
    font-family: Orbitron;
    letter-spacing: 7px;
    border: 2px solid white;
    height: 153px;
    width: 507px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    
}

